<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <style>
        .images{
            width: 200px;
            height: 200px;
            margin: 0 auto;

        }
        .link{
            background-color: lightgray;
            border-radius: 10px ;
        }
    </style>
</head>
<body>
    <table style="margin: 0 auto">
        <% for(var i=0; i < arr.length; i++) { %>
            <tr>
                <td><img class="images" src="file-display/<%= arr[i].filename%>"></td>
           </tr>
           <tr>
                
                <td class="link"><a href = "file-display/<%= arr[i].filename%>"><%= arr[i].filename %></a></td>
           </tr>
          
        <% } %>
        </table>
</body>
</html>